#!/bin/bash

export MICRONAUT_ENVIRONMENTS=<MICRONAUT_ENVIRONMENTS> # Example: local
# Don't set MICRONAUT_SERVER_PORT environment variable since it seems to be picked
# up by both the UnityAuth server and the Test Resources server which cause port conflict.
# Instead, set port for the main server in the application-*.yml file for the
# specific config environment, e.g., application-local.yml.

export LIBRE311_UI_BASE_URL=<LIBRE311_UI_BASE_URL> # Example: http://localhost:3000

export VITE_BACKEND_URL=<VITE_BACKEND_URL> # Example: http://localhost:8081

# Update these if necessary, for example, to use a local database
export DATASOURCES_DEFAULT_URL=<DATASOURCES_DEFAULT_URL>
export DATASOURCES_DEFAULT_USERNAME=<DATASOURCES_DEFAULT_USERNAME>
export DATASOURCES_DEFAULT_PASSWORD=<DATASOURCES_DEFAULT_PASSWORD>
